<!DOCTYPE html>


<html>
<head>
    <title>User Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">




        <div class="card shadow">
            <div class="card-body">


                <h3 class="text-center mb-4">User Notes</h3>


                <form method="POST">


                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            required>
                    </div>


                    <button class="btn btn-primary w-100">
                        Enter
                    </button>


                </form>


            </div>
        </div>


    </div>
</div>




</div>


</body>
</html>
